h1{
    text-align: center;
}
body{
    background: rgb(53,45,59);
    background: linear-gradient(180deg, rgba(53,45,59,1) 0%, rgba(76,9,121,1) 6%, rgba(241,217,236,1) 100%);
    height: 1080px;
}
.navbar{
    height: 50px;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 10px;
}

.navbar a{
    color: orange;
}

main{
    color: orange;
    justify-items: center;
    height: 300px;
}

.sidePosition{
    position: absolute;
    left: 50%;
    bottom: 55%;
    border-style: solid;
    height: 100px;
    width: 300px;
    border-radius: 25%;
    border-color: rgb(141, 26, 26);
    box-shadow: 5px 10px rgb(92, 28, 28);
    text-align: center;
    font-size: 30px;
}

.sidePosition a{
    color: orange;
    margin-top: 3px;
}